<footer class="site-footer">
  {{ with site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  </p>
  {{ end }}

  <p class="container">
      <a id="left" href="http://www.shu.edu.cn/"><img src='/img/SHU.png' alt='SHU'; align="left"; valign='top'></a>
      <a id="center" href=""><img src='/img/icqms4.png' alt='ICQMS'; width='280px'></a>
      <a id="right" href="#"><i class="fas fa-chevron-up fa-2x"; alight="right"></i></a>
  </p>
</footer>

